/* b: #009CBF o: #F75F00 g: #00A388 --tint-1: #333; --tint-2: #666; --tint-3: #999; --tint-4: #ccc; --tint-5: #e6e6e6; --tint-6: #f2f2f2; */
@font-face {
 font-family: ABCSansNovaRegular;
 src: url(../fonts/ABCSansNova-Regular.otf);
}
@font-face {
 font-family: ABCSansNovaBlack;
 src: url(../fonts/ABCSansNova-Black.otf);
}
@font-face {
 font-family: ABCSansNovaLight;
 src: url(../fonts/ABCSansNova-Light.otf);
}
:root {
  font-size: 1em;
  font-family: ABCSansNovaRegular, Helvetica, sans-serif;
  color: #333;
  box-sizing: border-box;
}
body {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 1rem;
  margin: 0;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}
h1, p {
  margin: 0;
}
#chart {
  width: 100%;
  height: 100%;
  opacity: 0;
}
#header {
  font-family: ABCSansNovaBlack, "Arial Black", Helvetica, sans-serif;
  font-size: 1.25rem;
}
.domain {
  display: none;
}
.tick text {
  fill: #666;
  font-size: .8rem
}
.tick line {
  fill: #666;
  stroke-width: .5;
  stroke-dasharray: 1 2;
}
.day {
  fill: #666;
  font-size: .8rem;
  font-weight: bold;
}
.axisLabel {
  font-family: ABCSansNovaBlack, "Arial Black", Helvetica, sans-serif;
  font-size: 1rem;
}
.line {
  stroke-width: 3;
  fill: none;
}
.area {
  stroke: none;
  opacity: .25;
}
.Canberra .axisLabel, .Canberra .area {
  fill: #009CBF;
}
.Canberra .line {
  stroke: #009CBF;
}
.Sydney .axisLabel, .Sydney .area {
  fill: #F75F00;
}
.Sydney .line {
  stroke: #F75F00;
}
.Melbourne .axisLabel, .Melbourne .area {
  fill: #00A388;
}
.Melbourne .line {
  stroke: #00A388;
}
@media only screen and (max-width: 500px) {
  #header {
    font-size: 1.1rem;
  }
  .tick text {
    font-size: .7rem
  }
  .day {
    font-size: .7rem;
    text-anchor: middle;
  }
  .axisLabel {
    font-size: .9rem;
    text-anchor: middle;
  }
  .line {
    stroke-width: 2;
  }
}
